.page-header a {
  text-decoration: none;
  color: #555;
}

h1 {
  font-size: 36px;
}

.panel-title {
  width: 100%;
  font-size: 24px;
}

#new-board-game-container {
  display: flex;
  justify-content: center;
}

.tag-autocomplete {
  display: flex;
}

.ember-power-select-multiple-trigger {
  width: 200px;
}

.error-pane {
  margin: 25px auto;
  background-color: rgba(255, 176, 176, 0.33);
}

.error-message {
  text-align: center;
  color: #e22626;
  line-height: 100px;
}

.new-board-game-field {
  display: flex;
  padding-bottom: 10px;
}

.new-board-game-label {
  padding-right: 10px;
}

.empty-list {
  min-height: 100px;
  text-align: center;
}

.empty-list .empty-message {
  display: inline-block;
  color: #555;
  line-height: 100px;
}
