<div class="col-md-4">
  <div class="list-group">
    <div class="list-group-item">
    </div>
    {{#each model as |boardGame|}}
      <div class="list-group-item board-game-link">
        {{ boardGame.name }}
        <span class="pointer glyphicon glyphicon-chevron-right"></span>
      </div>
    {{/each}}
  </div>
</div>

